header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 8px 20px;
  background: white;
  border-bottom: solid 1px #d8d3d3;
  .header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo_content {
      img {
        width: 150px;
      }
    }
    nav {
      ul {
        list-style: none;
        margin-bottom: 0;
      }
      li {
        display: inline;
      }
      a {
        padding: 0 15px;
        color: black;
        font-size: 18px;
        &.active {
          color: orangered;
          font-weight: 500;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .login_content {
    display: flex;
    a {
      text-decoration: none;
    }
    .span_item {
      margin-right: 15px;
      font-size: 18px;
      cursor: pointer;
      color: black;
    }
    img {
      width: 30px;
      height: 30px;
      margin-right: 3px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    select {
      border: solid 1px grey;
      font-size: 14px;
      padding: 3px 15px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
    .icon_logout{
      font-size: 18px;
      margin-right: 10px;
      padding-top: 5px;
      cursor: pointer;
    }
  }
}
